{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="article-content">

                {# <h1 class="article-h1">{{post.title}}</h1> #}
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h2 class="article-h1">{{post.title}}</h2>
                        </div>
                    </div>
                </div>

                <div class="article-body">
                    {{post.content}}
                </div>
            </section>
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}


{% block allphotographers %}
    <!-- start: photographer block -->

    {% include 'partial/card-photographer.twig' %}
    
    <!-- end: photographer block -->
{% endblock %}