{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="article-content">

                {# <h1 class="article-h1">{{post.title}}</h1> #}
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h2 class="article-h1">{{post.title}}</h2>
                        </div>
                    </div>
                </div>

                <div class="article-body">
                    {{post.content}}
                </div>
            </section>
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}


{% block allphotographers %}
    <!-- start: photographer block -->

    <section class="trendingphotographer">
        <div class="container">
            {% if photographer %}
                <div class="row">
                    {% for profile in photographer %}
                        <div class="col-12 col-lg-4">
                            <article class="cardphotographer">
                                <a href="{{ profile.link }}">
                                    <img src="{{ profile.thumbnail.src('large') }}" alt="{{ profile.thumbnail.alt }}">
                                    <div class="overlay">
                                        {% for term in profile.terms('photo-type') %}
                                            <a href="{{ site.link }}/{{ term.taxonomy }}/{{ term.slug }}">{{ term.name }}</a>
                                        {% endfor %}
                                        <h3><a href="{{profile.link}}">{{profile.title}}</a></h3>
                                    </div>
                                </a>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

    <!-- end: photographer block -->
{% endblock %}