{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="article-content">

                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h2 class="article-h1">{{post.title}}</h2>
                        </div>
                    </div>
                </div>

                <div class="article-body">
                    {{post.content}}
                </div>
            </section>
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}

{% block allcategories %}
    <!-- start: allcategorie block -->

    <section class="trendingcategories">
        <div class="container">
            {% if photo_types %}
                {% for photo_type in photo_types %}
                    <div class="cardcategorie">
                        <a href="{{ site.url }}/{{ photo_type.taxonomy }}/{{ photo_type.slug }}">
                            <article>
                                <div class="row">
                                    <div class="col-8 col-md-10">
                                        <h4>{{ photo_type.name }}</h4>
                                    </div>
                                    <div class="col-4 col-md-2">
                                        <img src="{{ photo_type.image_url|resize(300) }}" alt="">
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
    
    <!-- end: allcategorie block -->
{% endblock %}
