{% extends "base.twig" %}

{% block content %}
    <div class="presentationphotographer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-5">
            <img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}">
          </div>
          <div class="col-12 col-md-9 offset-md-3">
            {# <a href="">Célébrités</a>
            <a href="">mode</a> #}
			{% for term in post.terms('photo-type') %}
				<a href="{{ site.link }}/{{ term.taxonomy }}/{{ term.slug }}">{{ term.name }}</a>
			{% endfor %}
			{# {% for term in categories %}
				<a href="{{ site.link }}/{{ term.taxonomy }}/{{ term.slug }}">{{ term.name }}</a>
			{% endfor %} #}
            <h1>{{ post.title }}</h1>
				<div class="article-body">
					{{ post.content }}
				</div>
			</section>

          </div>
        </div>
      </div>
    </div>

	{% if pictures %}
		{% include 'partial/pictures-gallery.twig' %}
	{% endif %}

{% endblock %}