{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <article class="post-type-taxonomy">
            <section class="article-content">

                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h1 class="taxonomy-h1">{{taxonomy_title}}</h1>
                        </div>
                    </div>
                </div>

                <div class="taxonomy-body">
                    <section class="trendingphotographer">
                        <div class="container">
                            {% if posts %}
                                <div class="row">
                                    <div class="col-12">
                                        <h2>Photographes</h2>
                                    </div>
                                    {% for post in posts %}
                                        <div class="col-12 col-lg-4">
                                            <article class="cardphotographer">
                                                <a href="{{ post.link }}">
                                                    <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.thumbnail.alt }}">
                                                    <div class="overlay">
                                                        {% for term in post.terms('photo-type') %}
                                                            <a href="{{ site.link }}/{{ term.taxonomy }}/{{ term.slug }}">{{ term.name }}</a>
                                                        {% endfor %}
                                                        <h3 class="taxonomy-post-title"><a href="{{post.link}}">{{post.title}}</a></h3>
                                                    </div>
                                                </a>
                                            </article>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </section>

                    {% if pictures %}
                        {% include 'partial/pictures-gallery.twig' %}
                    {% endif %}

                </div>
            </section>
        </article>
    </div>
{% endblock %}
